*,
*::before,
*::after {
  box-sizing: border-box;
}

body {

  min-width: 100%;
  max-height: 95%;
  padding: 25px;
  color: #f7f7f7;
  background: #f7f7f7;
  text-rendering: optimizeSpeed;
  font-family: "Lucida Console", Courier, monospace;
}

.App {
  padding: 1rem;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  background: #7aa5be;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 8px;
}

h1 {
  font-weight: 300;
  color: #000836;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.input-wrapper {
  margin: 2.5rem;
  display: flex;
  justify-content: center;
}

.todos-wrapper {
  margin-bottom: 2.5rem;
}

.todo {
  display: flex;
  justify-content: center;

}


.todo-list {
  max-height: 95%;
  overflow: scroll;
}

input {
  width: 450px;
  padding: 0.8em;
  border-radius: 8px;
  max-width:100%;
}

input::placeholder{
  color: rgba(0, 8, 54, 0.55);
}

input:focus {
  outline: none;
  color: #000836;
}

button {
  width: 60px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

input,
button {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 1px solid #000836;
}

.add-button {
  color: #000836;
  background: #c0c8f8;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.delete-button {
  color: #000836;
  background: #c0c8f8 ;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0.5px;
}

li {
  width: 450px;
  padding-top: 0.5em;
  text-align: center;
  margin-bottom: 0.5rem;
  background: #c0c8f8 ;

  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #000836;
  border-radius: 8px;

  color: #000836;
  font-family: Times, Times New Roman, serif;
  font-size: 120%;
  overflow: scroll;
}

li:last-child {
  margin-bottom: 0px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #000836;
  letter-spacing: 0.2rem;
}

.completed {
  text-decoration: line-through;
  border-left: 5px solid #14db07;
  background: #52844c;
}